.slider-container {
    display: flex;
    justify-content: space-between;
}

.slider {
    max-width: 80%;
    max-height: 90%;
}

.slider img {
    border-radius: 0.3em;
}

.slider-photo {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    transition: 0.6s ease;
}

.prev:hover, .next:hover {
    opacity: 0.6;
}