{% extends 'catalog/sub_catalog.html' %}
{% load static %}
{% load sections_tags %}
{% load catalog_tags %}

{% block types %}
    {% for type_data in types_data %}
        <map name="item_link_{{ type_data.name }}">
            {% if type_data.name == item_type %}
                <area id="active"
                      href="{% url 'catalog:show_sub_catalog_by_type' sub_catalog_name type_data.name item_type %}"
                      shape="rect" coords="20, 60, 140, 100" />
            {% elif type_data.name == prev_item_type %}
                <area id="prev"
                      href="{% url 'catalog:show_sub_catalog_by_type' sub_catalog_name type_data.name item_type %}"
                      shape="rect" coords="20, 60, 140, 100" />
            {% else %}
                <area href="{% url 'catalog:show_sub_catalog_by_type' sub_catalog_name type_data.name item_type %}"
                      shape="rect" coords="20, 60, 140, 100" />
            {% endif %}
        </map>

        <img usemap="#item_link_{{ type_data.name }}" class="type-icon"
                 src="{% static type_data.icon %}" alt="{{ type_data.name }} icon">
    {% endfor %}
{% endblock %}

{% block items %}
    {% if sub_catalog_name == 'trucks' %}
        {% get_trucks as items %}
    {% elif sub_catalog_name == 'parts' %}
        {% get_parts as items %}
    {% endif %}

    {% for item in items %}
            {% if item.type|lower == item_type or item_type == 'all types' %}
                {% include 'catalog/includes/items_list.html' %}
            {% endif %}
    {% endfor %}
{% endblock %}