{% extends 'base.html' %}
{% load static %}
{% load sections_tags %}
{% load catalog_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/content_background.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sub_catalog.css' %}">
{% endblock %}

{% block content %}
<div class="store-window">
    <div class="left-bar">
        <img id="target" class="types_cursor" src="{% static 'img/types_cursor.png' %}" alt="types cursor">

        {% block types %}
            {% for type_data in types_data %}
                <map name="item_link_{{ type_data.name }}">
                    {% if type_data.name == prev_item_type %}
                    <area id="prev"
                          href="{% url 'catalog:show_sub_catalog_by_type' sub_catalog_name type_data.name 'all types' %}"
                          shape="rect" coords="20, 60, 140, 100" />
                    {% else %}
                    <area href="{% url 'catalog:show_sub_catalog_by_type' sub_catalog_name type_data.name 'all types' %}"
                          shape="rect" coords="20, 60, 140, 100" />
                    {% endif %}
                </map>

                <img usemap="#item_link_{{ type_data.name }}" class="type-icon"
                     src="{% static type_data.icon %}" alt="{{ type_data.name }} icon">
        {% endfor %}
        {% endblock %}

        {% include 'catalog/includes/call_us.html' %}
    </div>

    <div class="scroll-container">

        <div class="store-items">
<!--    if item == truck -> get_trucks elif item == parts -> get_parts / as items -->
            {% block items %}
                {% get_trucks as trucks %}
                {% for truck in trucks %}
                    <a class="item-link" href="{% url 'root:item' 1 sub_catalog_name %}">
                        <div class="store_item" style="background-image:url('{% static truck.main_photo %}')">
                            <div class="info_background"></div>
                            <p class="item_name">{{ truck.name }} {{ truck.info.year }}</p>
                            {% if truck.price > 0 %}
                            <p class="item_price">price: {{ truck.price }} EUR</p>
                            {% else %}
                            <p class="item_price">price on request</p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>

<script>
    var target = document.getElementById('target');
    var prev = document.getElementById('prev');
    var yPositionPrev = prev.offsetTop;

    const divContainer = document.getElementById('target');
    divContainer.style['top'] = yPositionPrev + 'px';

    var start = document.getElementById('active');
    var startPosition = start.offsetTop;
    target.style.top = yPosition + 'px';
    var yPosition = start.offsetTop;
    target.style.top = yPosition + 'px';
</script>
{% endblock %}