{% extends 'catalog/item.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block photo %}
<div class="slider-container">
    <a class="prev" onclick="plusSlides(-1)"><img class="left-arrow" src="{% static 'img/left_arrow.png' %}"></a>

    <div class="slider">
        <div class="frame">
             <img class="slider-photo" src="{{ item.main_photo.url }}">
        </div>
        {% if item.second_photo %}
        <div class="frame">
             <img class="slider-photo" src="{{ item.second_photo.url }}">
        </div>
        {% endif %}
        {% if item.third_photo %}
        <div class="frame">
             <img class="slider-photo" src="{{ item.third_photo.url }}">
        </div>
        {% endif %}
    </div>

    <a class="next" onclick="plusSlides(1)"><img class="right-arrow" src="{% static 'img/right_arrow.png' %}"></a>
</div>

<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}

{% block info %}
    <div class="item-name">{{ item.name }} {{ item.info.year }}</div>
    <div style="margin-bottom:0.5em;display:flex;justify-content:center;">
        <div style="text-align:right;">
            mileage<br>
            power<br>
            price<br>
        </div>
        <div><pre>   |   </pre><pre>   |   </pre><pre>   |   </pre></div>
        <div style="text-align:left;">
            {{ item.info.mileage }}<br>
            {{ item.info.power }}<br>
            {{ item.price }} EUR<br>
        </div>
    </div>
{% endblock %}

{% block right_bar %}
    <div class="right-bar-content">maybe one of these:</div>
{% endblock %}